.skills-section {
  padding-top: 50px;
  padding-bottom: 28px;

  &__title {
    @extend %page-titles;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
  }

  &__icon {
    width: 90.97px;
    height: 87.86px;
    margin-bottom: 22px;
  }

  &__text {
    font-size: getFont("subtitle-size");
    color: getColor("secondary");
  }

  &__item::after {
    display: block;
    margin-top: 41px;
    content: "";
    height: 25.8px;
    width: 170px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item:last-child::after {
    margin-top: 56px;
  }

  &__item--photoshop::after {
    background-image: url(../img/stars-group1.svg);
  }

  &__item--illustrator::after {
    background-image: url(../img/stars-group2.svg);
  }

  &__item--effects::after {
    background-image: url(../img/stars-group1.svg);
  }

  &__item--figma::after {
    background-image: url(../img/stars-group3.svg);
  }
}
